<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contacts</title>
</head>
<body>
    {% for contact in contacts %}
        <div> {{contact.name}}</div>
        <div> {{contact.email}}</div>
        <div> {{contact.phone}}</div>
        <form action="/delete" method="get"> 
            <input type="hidden" name="id" value="{{contact.id}}">
            <input type="submit" value="Delete">
        </form>
    {% endfor %}
</body>
</html>