<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function validate(email , formid){
            if(email.includes("gmail")){
                alert("cannot delete this user")
                return;
            }
            document.getElementById(formid).submit();
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>contacts</title>
</head>
<body>
    {% for contact in contacts %}
    <div class = "object">
        <div> {{contact.name}}</div>
        <div> {{contact.email}}</div>
        <div> {{contact.phone}}</div>
        <form action="/delete" method="get" id = "deleteForm{{contact.id}}"> 
            <input type="hidden" name="id" value="{{contact.id}}">
        </form>
        <button onclick="validate('{{contact.email}}' , 'deleteForm{{contact.id}}')">Delete</button>
    </div>
    {% endfor %}
</body>
</html>