<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function validateCreate(){
            if (document.getElementById("name").value == ""){
                message.innerHTML = "please fill out the name";
                return;
            }
            createForm.submit()
        }
        function validate(email , formid){
            if(email.includes("gmail")){
                alert("cannot delete this user");
                return;
            }
            document.getElementById(formid).submit();
        }
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>contacts</title>
</head>
<body>
    <div id="message" class="message"></div>
    <form action="/create" method="POST" id="createForm">
        <input type="text" name = "name" placeholder = "name" id="name">
        <input type="text" name = "phone" placeholder="phone" id="phone">
        <input type="text" name = "email" placeholder="email" id="email">
    </form>
    <button onclick="validateCreate()"> create contact</button>

    {% for contact in contacts %}
    <div class = "object">
        <div> {{contact.name}}</div>
        <div> {{contact.email}}</div>
        <div> {{contact.phone}}</div>
        <form action="/delete" method="get" id = "deleteForm{{contact.id}}"> 
            <input type="hidden" name="id" value="{{contact.id}}">
        </form>
        <button onclick="validate('{{contact.email}}' , 'deleteForm{{contact.id}}')">Delete</button>
    </div>
    {% endfor %}
</body>
</html>